{% extends "auctions/layout.html" %}

{% block body %}
  <div class="container">
      <h2>Active Listings</h2>
  </div>

  <div class="container" id="listings">
      {% for listing in listings %}
        <div class="card mb-3" style="max-width: 540px;" id="card-listings">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ listing.image }}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <p class="card-text">${{ listing.price }}</p>
                <a href="{% url 'listings' listing.id %}"><button class="btn btn-outline-success">Bid Now!</button></a>
                <p class="card-text">Created at: <small class="text-muted">{{ listing.created_at }}</small></p>
                <p class="card-text">Updated at: <small class="text-muted">{{ listing.updated_at }}</small></p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
{% endblock %}