{% extends "auctions/layout.html" %}

{% block body %}
  <div class="container">
    <h2>Listing:{{ listing.title }}</h2>
    <div class="container" style="text-align: center;">
        <img src="{{ listing.image.url }}" width="30%" alt="...">
    </div>
    <br>
    <p><b>Description: </b>{{ listing.description }}</p>
    <br>
    {% if user.username %}
      <p>
        {% if added %}
          <a href="{% url 'remove-watchlist' listing.id %}"><button class="btn btn-danger">Remove from watchlist</button></a>
        {% else %}
          <a href="{% url 'add-watchlist' listing.id %}"><button class="btn btn-success">Add to watchlist</button></a>
        {% endif %}
      </p>
    {% endif %}

    <br>

    <h3>Current Bid: ${{ listing.price }}</h3>
    {% if user.username %}
      {% if owner %}
        <br>
        <a href="{% url 'close-bid' listing.id %}"><button class="btn btn-warning">Close Bid</button></a>
        <br>
      {% endif %}
    {% endif %}
    <br>
    <p><b>Details:</b>
    <ul>
        <li><b>Owner: </b>{{ listing.user }}</li>
        <li><b>Category: </b>{{ listing.category }}</li>
        <li><b>Created at: </b>{{ listing.created_at }}</li>
        <li><b>Updated at: </b>{{ listing.updated_at }}</li>
    </ul>
    </p>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endif %}
    {% if errorgreen %}
    <div class="alert alert-success" role="alert">
        {{ errorgreen }}
      </div>
    {% endif %}

    {% if user.username %}
      <div class="container">
        <h4>Place your bid:</h4>
        <form action="{% url 'submit-bid' listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-row align-items-center">
              <div class="col-auto">
                <input type="number" class="form-control mb-2" id="inlineFormInput" name="bid" placeholder="your bid...">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
              </div>
            </div>
        </form>
      </div>
      <br>
      <div class="container">
        <form action="{% url 'comment' listing.id %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleFormControlTextarea1"><b>Write a comment:</b></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment" placeholder="Write your comment here..." required></textarea>
          </div>
          <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
      </div>
    {% endif %}
    
    <br>

    {% if comments %}
      <h3>Comments:</h3>
      <div class="container">
          {% for comment in comments %}
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ comment.user }}</h5>
                    <p class="card-text">{{ comment.comment }}</p>
                    <p class="card-text">Created at: <small class="text-muted">{{ comment.created_at }}</small></p>
                    <p class="card-text">Updated at: <small class="text-muted">{{ comment.updated_at }}</small></p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}