{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <h2>{{ title }}</h2>
    </div>
    <div class="container" id="listings">
        <h3>This listing is no longer active.</h3>
        {% if closed_bid_list.winner == user.username %}
            <h4>Congratulations 🏆</h4>
            <p>You won this bid.</p>
        {% endif %}
        <ul>
            <li><b>Owner: </b>{{ closed_bid_list.user }}</li>
            <li><b>Winner: </b>{{closed_bid_list.winner}}</li>
            <li><b>Winning Price: </b>{{ closed_bid_list.winprice }}</li>
        </ul>
    </div>
{% endblock %}